.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 425px;
    margin: 75px auto 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    border-radius: 7px;
    font-family: Helvetica
}
.container {
    width: 89%;
    display: flex;
    flex-direction: column;
}

.emailContainer {        
    display: flex;
    flex-direction: column;

    label {
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #303030;
    }
    
    input {            
        height: 58px;
        background: #F9FAFB;
        border: 1px solid #DEDEE0;                        
        border-radius: 5px;
        padding: 0 13px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.4px;
    }
}

.submitButton {
    height: 58px;
    background: #349A89;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.4px;
    border: none;
    width: 100%;
    margin: 24px 0 26px 0; 
}

.title {
    font-size: 22px;
    line-height: 25px;
    color: #282828;
    margin-top: 25px;
    margin-bottom: 20px;
}

.errorContainer {
    color: red;
}