.avatar {
    border-radius: 100%;
}

.avatarText {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #F1C40F;
    text-transform: uppercase;
}